.btn-group {
    left: 25px;   
}

.left {
    background-color:#2196F3;
    padding:20px;
    float:left;
    width:20%; /* The width is 20%, by default */
}

.main {
background-color:#f1f1f1;
padding:20px;
float:left;
width:60%; /* The width is 60%, by default */
}

.right {
background-color:#4CAF50;
padding:20px;
float:left;
width:20%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:100px) {
.left  , .main, .right {width:100%;}
}
.card1 {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color:rgb(230, 230, 230) ;
background-clip: border-box;
border: 1px solid rgba(34, 12, 240, 0.125);
border-radius: 0.75rem;
}

.card2 {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(237, 237, 237);
background-clip: border-box;
border: 1px solid rgba(34, 12, 240, 0.125);
border-radius: 0.75rem;
}

.card3 {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(218, 218, 218);
background-clip: border-box;
border: 1px solid rgba(34, 12, 240, 0.125);
border-radius: 0.75rem;
}

.card4 {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(241, 255, 255);
background-clip: border-box;
border: 1px solid rgba(34, 12, 240, 0.125);
border-radius: 0.75rem;
}

.card5 {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: rgb(238, 254, 255);
background-clip: border-box;
border: 1px solid rgba(34, 12, 240, 0.125);
border-radius: 0.75rem;
}

.card6 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(225, 245, 247);
    background-clip: border-box;
    border: 1px solid rgba(34, 12, 240, 0.125);
    border-radius: 0.75rem;
    }
.card7 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(211, 238, 238) ;
    background-clip: border-box;
    border: 1px solid rgba(34, 12, 240, 0.125);
    border-radius: 0.75rem;
    }

.vehicle-icon{
    width:5px;
}
.btn-group{
    border-radius: 0.75rem;

}
.plots{
    left:15px;
}

select{
    border-radius: 0.25rem;
    width: 100px;
    padding: 25 50px;
    margin-right: 20px;
    height: 35px;
    background-color: rgb(189, 191, 198);

}
.submit_form {
left :1000px;
position: relative;
top: -35px;
}

.graph-button{
left :100px;
position: relative;
top: 50px;
height: 200px;
}

.back-button{
    left :0px;
    position: relative;
    top: -155px;
    
    
}

.result{
    left:1100px;
    position:relative;
    top: -65px;
}
.reset-button {
    left :0px;
    position: relative;
    top: -25px;
}

mark {
    background-color: green;
    color: black;
  }

div#loading {
    width: 125px;
    height: 125px;
    display: none;
    place-items: center; 
    background: url(/static/load2.gif) no-repeat;
    cursor: wait;
    left:1100px; 
    top: -80px;
    position:relative;
    }