<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>FUSO</title>
    <link rel="stylesheet" href="static\style.css" />
    <script
      src="https://kit.fontawesome.com/028b820c89.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body style="background: #e7ebea">
    <nav class="navbar-default" style="background-color:rgb(72, 178, 178)">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <form action="/">
            <img
              src="{{url_for('static', filename='fuso.png')}}"
              alt=""
              width="175"
              height="65"
              class="d-inline-block align-text-bottom"
              style=
            />
            
          </form>
        </a>
      </div>
    </nav>
    <div id="content">
      <div class="container">
        <form
          id="Form2"
          method="post"
        ></form>
        <!-- ------------------------Form------------------------------- -->
        <form method="post" id="Form1" action="{{url_for('output_page')}}" >
          <div class="row">
        <!-- -----------------------Vehicle Details---------------------- -->
            <div class="card1 mt-3 col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card-body">
                <h5 class="card-title">
                  <image
                    src="{{url_for('static', filename='Truck.png')}}"
                    width="50"
                    height="50"
                  ></image
                  >Vehicle Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="vehicle" class="form-label"
                    ><strong>Vehicle Name</strong>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="vname"
                    placeholder="Eg. Truck,Bus"
                    name="vehicle_name"
                    required="required"
                  />
                </div>
                <div class="mb-3 mt-4">
                  <label for="weight" class="form-label"
                    ><strong>Vehicle Weight(Kg)</strong>
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    id="vweight"
                    placeholder="Eg. 6000"
                    name="vehicle_weight"
                    required="required"
                  />
                </div>
              </div>
            </div>

            <div
              class="card2 mt-3 col-lg-6 col-md-10 col-sm-12 col-xs-12"
              style="left: 8px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='engine.png')}}"
                    width="50"
                    height="50"
                  />Engine Details
                </h5>

                <div class="mb-3 mt-4">
                  <label for="Engine" class="form-label"
                    ><strong>Engine</strong>
                  </label>
                  <div class="btn-group" style="left: 60px">
                    <select
                      name="engine_type"
                      id="engine_type"
                      form="Form2"
                      required = "required"
                      onblur="document.Form1.select.value = this.value;"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for engine in engine_drop %}
                      <option value="{{engine}}">{{engine}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="mb-3 mt-4">
                  <label for="Emission" class="form-label"
                    ><strong>Emission</strong>
                  </label>
                  <div class="btn-group" style="left: 45px">
                    <select name="emission_type" id="emission_type" form="Form2" required = "required" onblur="document.Form1.select.value = this.value;">
                      <option value="" selected disabled>Select</option>
                      {% for emission in emission_drop %}
                      <option value="{{emission}}">{{emission}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- <div style="position:relative; left:300px; top:-120px;"><img src="{{url_for('static', filename='graph.png')}}"/></div> -->
                <div class="graph-button">
                  <button
                    class="btn btn-success btn-li float-right"
                    type="submit"
                    name="graph"
                    value="graph_value"
                    id="graph_id"
                    form="Form2"
                  >
                    Show Graph
                  </button>
                  <div style="position: relative; left: 200px; top: -200px">
                    <img src="" id="graph_img" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card3 mt-3 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left:17px;">
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='transmission.png')}}"
                    width="50"
                    height="50"
                  />Transmission Details
                </h5>

                <div class="mb-3 mt-4">
                  <label for="Transmission" class="form-label"
                    ><strong>Transmission</strong>
                  </label>
                  <div class="btn-group">
                    <select name="transmission_type" id="transmission_type" required="required" onChange="getgearno();">
                      <option value="" selected disabled>Select</option>
                      {% for transmission in trans_drop %}
                      <option value="{{transmission}}">{{transmission}}</option>
                      {% endfor %}
                    </select>

                  </div>
                  <br></br>
                  <div id="Geardiv" style="display:none">
                    <label><strong>No. of Gears:</strong></label>
                    <div id="Gear_input"  >
                      <input type="text" class="gear_no" id="gear_display" style="position:relative; left:125px; top:-25px; width:50px; border-radius: 0.25rem; background-color:rgb(208, 208, 208)" readonly>
                    </div>
                  </div>
                </div>               
              </div>
              
            </div>
          </div>
          <div class="row">
            <div
              class="card4 mt-3 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left: 0px; top:-3px;"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='torque.png')}}"
                    width="50"
                    height="50"
                  />Torque Limit Details
                </h5>
                <div class="mb-0 mt-0">
                  <label for="Torque_cut" class="form-label"
                    ><strong>Torque_cut(A-D)</strong>
                  </label>
                  <h6>(As per the number of Gears)</h6>
                  <div
                    class="input"
                    style="
                      left: 145px;
                      width: 150px;
                      position: relative;
                      top: -65px;
                    "
                  >
                    <input
                      type="text"
                      class="form-control"
                      id="Torque_cut"
                      placeholder="Eg. A,B,C,D"
                      name="Torque_cut"
                      width="5"
                      height="5"
                      onblur="uppercase()"
                      
                    />
                  </div>
                </div>
                <div class="mb-0 mt-0">
                  <label for="Torque_cut" class="form-label"
                    ><strong>Torque_cut_A(Nm)</strong>
                  </label>
                  <div
                    class="input"
                    style="
                      left: 145px;
                      width: 150px;
                      position: relative;
                      top: -35px;
                    "
                  >
                    <input
                      type="number"
                      class="form-control"
                      id="Torque_cut_A"
                      placeholder="Eg. 250"
                      name="Torque_cut_A"
                      width="5"
                      height="5"
                      
                    />
                  </div>
                </div>
                <div class="mb-0 mt-0">
                  <label for="Torque_cut" class="form-label"
                    ><strong>Torque_cut_B(Nm)</strong>
                  </label>
                  <div
                    class="input"
                    style="
                      left: 145px;
                      width: 150px;
                      position: relative;
                      top: -35px;
                    "
                  >
                    <input
                      type="number"
                      class="form-control"
                      id="Torque_cut_B"
                      placeholder="Eg. 250"
                      name="Torque_cut_B"
                      width="5"
                      height="5"
                      
                    />
                  </div>
                </div>
                <div class="mb-0 mt-0">
                  <label for="Torque_cut" class="form-label"
                    ><strong>Torque_cut_C(Nm)</strong>
                  </label>
                  <div
                    class="input"
                    style="
                      left: 145px;
                      width: 150px;
                      position: relative;
                      top: -35px;
                    "
                  >
                    <input
                      type="number"
                      class="form-control"
                      id="Torque_cut_C"
                      placeholder="Eg. 250"
                      name="Torque_cut_C"
                      width="5"
                      height="5"
                      
                    />
                  </div>
                </div>
                <div class="mb-0 mt-0">
                  <label for="Torque_cut" class="form-label"
                    ><strong>Torque_cut_D(Nm)</strong>
                  </label>
                  <div
                    class="input"
                    style="
                      left: 145px;
                      width: 150px;
                      position: relative;
                      top: -35px;
                    "
                  >
                    <input
                      type="number"
                      class="form-control"
                      id="Torque_cut_D"
                      placeholder="Eg. 250"
                      name="Torque_cut_D"
                      width="5"
                      height="5"
                      
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card5 mt-2 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left: 8px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='axel.png')}}"
                    width="50"
                    height="50"
                  />Axle Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Axle" class="form-label"
                    ><strong>Axle</strong>
                  </label>
                  <div class="btn-group" style="left: 75px">
                    <select
                      name="axel_type"
                      id="axel_type"
                      onchange="filterAxleLayout()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for axel in axel_drop %}
                      <option value="{{axel}}">{{axel}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Axle layout" class="form-label"
                    ><strong>Axle layout</strong>
                  </label>
                  <div class="btn-group">
                    <select
                      name="axle_layout_type"
                      id="axle_layout_type"
                      onchange="filterRatio()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Ratio" class="form-label"
                    ><strong>Ratio</strong>
                  </label>
                  <div class="btn-group" style="left: 70px">
                    <select
                      name="ratio_type"
                      id="ratio_type"
                      onchange="filterEfficiency()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Efficiency" class="form-label"
                    ><strong>Efficiency</strong>
                  </label>
                  <div class="btn-group" style="left: 35px">
                    <select
                      name="efficiency_type"
                      id="efficiency_type"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card6 mt-2 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left: 16px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='tire.png')}}"
                    width="50"
                    height="50"
                  />Tyre Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Tyre Size" class="form-label"
                    ><strong>Tyre Size</strong>
                  </label>
                  <div class="btn-group">
                    <select
                      name="tyre_size"
                      id="tyre_size"
                      onchange="filterradius()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for tyre in tyre_size_drop %}
                      <option value="{{tyre}}">{{tyre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Radius" class="form-label"
                    ><strong>Radius</strong>
                  </label>
                  <div class="btn-group" style="left: 40px">
                    <select
                      name="radius_type"
                      id="radius_type"
                      onchange="filterrrc()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="RRC" class="form-label"
                    ><strong>RRC</strong>
                  </label>
                  <div class="btn-group" style="left: 60px">
                    <select name="rrc_type" id="rrc_type" required="required">
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
              <br></br>
              <div id="Tyre_details" style="display:none;" >
                <label><strong>Pattern:</strong></label>
                <input type="text" class="tyre_pattern" id="pattern" style="position:relative; left:25px; width:100px; border-radius: 0.25rem; top:0px; background-color:rgb(225, 245, 247)" readonly>
                <br></br>
                <label><strong>Standard:</strong></label>
                <input type="text" class="tyre_stand" id="std" style="position:relative; left:10px; top:5px; width:100px; border-radius: 0.25rem; background-color:rgb(225, 245, 247)" readonly>
                <br></br>
                <label><strong>Remark:</strong></label>
                <input type="text" class="tyre_remark" id="remark" style="position:relative; left:20px; top:5px; width:100px; border-radius: 0.25rem; background-color:rgb(225, 245, 247)" readonly>
              </div>
              
              </div>
            </div>
            <div
              class="card7 mt-2 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left: 24px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='air_res.png')}}"
                    width="50"
                    height="50"
                  />Air Resistance Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Air Resistance" class="form-label"
                    ><strong>Air Resistance</strong>
                  </label>
                  <div class="btn-group">
                    <select name="air_resistance_type" id="air_resistance_type" required="required">
                      <option value="" selected disabled>Select</option>
                      {% for air in air_drop %}
                      <option value="{{air}}">{{air}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div
              class="file_path"
              style="left: 150px; position: relative; top: 0px"
            >
              <label
                for="file_path"
                class="form-label"
                style="left: 50x; position: relative; top: 35px"
                ><strong>File Path</strong>
              </label>
              <div
                class="file_path"
                style="left: 100px; width: 700px; position: relative; top: 0px"
              >
                <input
                  type="text"
                  class="form-control"
                  id="file_path"
                  placeholder="Eg. C:\username\Desktop\folder_name"
                  name="file_path"
                  required="required"
                />
              </div>
          </div>
          <div class="submit_form">
            <button
              class="btn btn-success btn-li float-right"
              type="submit"
              id="submit-button"
              onclick="loading();"
              name="submit-button"
            >
              Submit
            </button>
          </div>
          <div id="loading"></div>          
        </form>
        
        <script>
          function goBack() {
            window.history.back();
          }
        </script>
        <div class="result">
          <font color="green" align="center"><strong>{{result_text}}</strong></font> 
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous">
  </script>
  <script>
    $("#Form2").submit(function(e)
                  {
    
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          'engine':$("#engine_type").val(),
          'emission':$("#emission_type").val()
        },
        success:function (response) {
            var response = "graph.png";
            $("#graph_img").attr("src", "/static/" + response);
          },
        
      })
    });
    $(form).submit(function(){
      $("#result").show()
      event.preventDefault();
    })
    // $('#Form1').submit(function(e)
    //               { 
    //   e.preventDefault();
    //   $.ajax({
    //     type:'POST',
    //     url:"{{url_for('output_page')}}",
    //     data:{
    //       'vehicle_name':$("#vname").val(),
    //       'vehicle_weight':$("#vweight").val(),         
    //       'engine_type':$("#engine_type").val(),
    //       'emission_type':$("#emission_type").val(),
    //       'transmission_type':$("#transmission_type").val(),
    //       'axel_type':$('#axel_type').val(),
    //       'axle_layout_type':$("#axle_layout_type").val(),
    //       'ratio_type':$("#ratio_type").val(),
    //       'efficiency_type':$("#efficiency_type").val(),
    //       'tyre_type':$("#tyre_size").val(),
    //       'radius_type':$("#radius_type").val(),
    //       'rrc_type':$("#rrc_type").val(),
    //       'air_resistance_type':$("#air_resistance_type").val(),
    //       'Torque_cut':$("#Torque_cut").val(),
    //       'Torque_cut_A':$("#Torque_cut_A").val(),
    //       'Torque_cut_B':$("#Torque_cut_B").val(),
    //       'Torque_cut_C':$('#Torque_cut_C').val(),
    //       'Torque_cut_D':$("#Torque_cut_D").val(),
    //       'file_path':$("#file_path").val()
    //     },
    //     success:function (response) {
    //         var response = "Excel Generated";
    //         $("#result").show(response);
    //       }
    //   });
    // });
    // $(document).ready(function()
    // {
    //   $.ajax({
    //     type:"GET",
    //     url:"/data"

    //   })
    // })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
