<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <style>
      .box{
          display: none;
          margin-top: 20px;
      }
      
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(document).ready(function(){ 
      $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
        });
     });
    </script>
    <title>FUSO</title>
    <link rel="stylesheet" href="static\style.css" />
    <script
      src="https://kit.fontawesome.com/028b820c89.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>
      myFunc({{inputdata|tojson}})
    </script>
  </head>
  <body style="background: #e7ebea">
    <nav class="navbar-default" style="background-color:rgb(72, 178, 178)">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <form action="/">
            <img
              src="{{url_for('static', filename='fuso.png')}}"
              alt=""
              width="175"
              height="65"
              class="d-inline-block align-text-bottom"
              style=
            />
            
          </form>
        </a>
      </div>
    </nav>
    <div id="content">
      <div class="container" style="max-width: 1775px">
        <form id="Form2" method="post"></form>
        <!-- ------------------------Form------------------------------- -->
        <form method="post" id="Form1" action="{{url_for('output_page')}}" onsubmit= "submit_button.disabled = true; return true;">
          <div class="row" style="max-height: 1000px">
        <!-- -----------------------Vehicle Details---------------------- -->
            <div class="card1 mt-3 col-lg-3 col-md-10 col-sm-12 col-xs-12" style="height:300px">
              <div class="card-body">
                <h5 class="card-title">
                  <image
                    src="{{url_for('static', filename='Truck.png')}}"
                    width="50"
                    height="50"
                  ></image
                  >Vehicle Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="vehicle" class="form-label"
                    ><strong>Vehicle Name</strong>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="vname"
                    placeholder="Eg. Truck,Bus"
                    name="vehicle_name"
                    required="required"
                    autocomplete="off"
                  />
                </div>
                <div class="mb-3 mt-4">
                  <label for="weight" class="form-label"
                    ><strong>Vehicle Weight(Kg)</strong>
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    id="vweight"
                    placeholder="Eg. 6000"
                    name="vehicle_weight"
                    required="required"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>

            <div
              class="card2 mt-3 col-lg-6 col-md-10 col-sm-12 col-xs-12"
              style="left: 8px; height:300px;"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='engine.png')}}"
                    width="50"
                    height="50"
                  />Engine Details
                </h5>

                <div class="mb-3 mt-4">
                  <label for="Engine" class="form-label"
                    ><strong>Engine</strong>
                  </label>
                  <div class="btn-group" style="left: 60px">
                    <select
                      name="engine_type"
                      id="engine_type"
                      form="Form2"
                      required = "required"
                      onchange= "filteremission()"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for engine in inputdata["engine_drop"] %}
                      <option value="{{engine}}">{{engine}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="mb-3 mt-4">
                  <label for="Emission" class="form-label"
                    ><strong>Emission</strong>
                  </label>
                  <div class="btn-group" style="left: 45px">
                    <select name="emission_type" id="emission_type" form="Form2" required = "required" >
                      <option value="" selected disabled>Select</option>
                      {% for emission in emission_drop %}
                      <option value="{{emission}}">{{emission}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- <div style="position:relative; left:300px; top:-120px;"><img src="{{url_for('static', filename='graph.png')}}"/></div> -->
                <div class="graph-button">
                  <button
                    class="btn btn-success btn-li float-right"
                    type="submit"
                    name="graph"
                    value="graph_value"
                    id="graph_id"
                    form="Form2"
                  >
                    Show Graph
                  </button>
                  <div style="position: relative; left: 200px; top: -200px">
                    <img src="" id="graph_img" />
                  </div>  
                </div>
              </div>
            </div>
            <div class="card3 mt-3 col-lg-3 col-md-10 col-sm-12 col-xs-12"
              style="left:17px;">
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='transmission.png')}}"
                    width="50"
                    height="50"
                  />Transmission Details
                </h5>

                <div class="mb-3 mt-4">
                  <label for="Transmission" class="form-label"
                    ><strong>Transmission</strong>
                  </label>
                  <div class="btn-group">
                    <select name="transmission_type" id="transmission_type" required="required" onChange="getgearno({{inputdata['trans_dict_len']}});">
                      <option value="" selected disabled>Select</option>
                      {% for transmission in  inputdata['trans_drop'] %}
                      <option value="{{transmission}}">{{transmission}}</option>
                      {% endfor %}
                    </select>

                  </div>
                  <br></br>
                  <div id="Geardiv" style="display:none">
                    <label><strong>No. of Gears:</strong></label>
                    <div id="Gear_input"  >
                      <input type="text" class="gear_no" id="gear_display" style="position:relative; left:125px; top:-25px; width:50px; border-radius: 0.25rem; background-color:rgb(208, 208, 208)" readonly>
                    </div>
                  </div>
                </div>               
              </div>
              
            </div>
          </div>
          <div class="row">   
            <div
              class="card4 mt-3 col-lg-6 col-md-10 col-sm-12 col-xs-12"
              style="top:-6px;">

              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='torque.png')}}"
                    width="50"
                    height="50"
                  />Torque Limit Details
                </h5>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Torque_cut_A(Nm)</strong>
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        id="Torque_cut_A"
                        placeholder="Eg. 250"
                        name="Torque_cut_A"
                        width="5"
                        height="5"
                        style="
                        left: 145px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Torque_cut_B(Nm)</strong>
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        id="Torque_cut_B"
                        placeholder="Eg. 250"
                        name="Torque_cut_B"
                        width="5"
                        height="5"
                        style="
                        left: 145px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Torque_cut_C(Nm)</strong>
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        id="Torque_cut_C"
                        placeholder="Eg. 250"
                        name="Torque_cut_C"
                        width="5"
                        height="5"
                        style="
                        left: 145px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Driving Resistance </strong>
                      </label>
                      <input
                          type="number"
                          class="form-control"
                          id="Torque_cut_D"
                          placeholder="Eg. 250"
                          name="Torque_cut_D"
                          width="5"
                          height="5"
                          style="
                          left: 145px;
                          width: 150px;
                          position: relative;
                          top: -35px;"
                          autocomplete="off"
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Gear for Torque_cut_A</strong>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        id="Gear_A"
                        placeholder="Eg. 1,2,3,4,5"
                        name="Gear_A"
                        width="5"
                        height="5"
                        style="
                        left: 180px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Gear for Torque_cut_B</strong>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        id="Gear_B"
                        placeholder="Eg. 1,2,3,4,5"
                        name="Gear_B"
                        width="5"
                        height="5"
                        style="
                        left: 180px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Gear for Torque_cut_C</strong>
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        id="Gear_C"
                        placeholder="Eg. 1,2,3,4,5"
                        name="Gear_C"
                        width="5"
                        height="5"
                        style="
                        left: 180px;
                        width: 150px;
                        position: relative;
                        top: -35px;"
                        autocomplete="off"
                      />
                    </div>
                    <div class="mb-0 mt-0">
                      <label for="Torque_cut" class="form-label"
                        ><strong>Gear for Torque_cut_D</strong>
                      </label>
                      <input
                          type="text"
                          class="form-control"
                          id="Gear_D"
                          placeholder="Eg. 1,2,3,4,5"
                          name="Gear_D"
                          width="5"
                          height="5"
                          style="
                          left: 180px;
                          width: 150px;
                          position: relative;
                          top: -35px;"
                          autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div
              class="card5 mt-2 col-lg-2 col-md-10 col-sm-12 col-xs-12"
              style="left: 8px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='axel.png')}}"
                    width="50"
                    height="50"
                  />Axle Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Axle" class="form-label"
                    ><strong>Final Drive</strong>
                  </label>
                  <div class="btn-group" style="left: 30px">
                    <select
                      name="axel_type"
                      id="axel_type"
                      onchange="filterAxleLayout()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for axel in inputdata['axel_drop'] %}
                      <option value="{{axel}}">{{axel}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Axle layout" class="form-label"
                    ><strong>Layout</strong>
                  </label>
                  <div class="btn-group", style="left: 60px">
                    <select
                      name="axle_layout_type"
                      id="axle_layout_type"
                      onchange="filterRatio()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Ratio" class="form-label"
                    ><strong>Ratio</strong>
                  </label>
                  <div class="btn-group" style="left: 70px">
                    <select
                      name="ratio_type"
                      id="ratio_type"
                      onchange="filterEfficiency()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Efficiency" class="form-label"
                    ><strong>Efficiency</strong>
                  </label>
                  <div class="btn-group" style="left: 35px">
                    <select
                      name="efficiency_type"
                      id="efficiency_type"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card6 mt-2 col-lg-2 col-md-10 col-sm-12 col-xs-12"
              style="left: 15px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='tire.png')}}"
                    width="50"
                    height="50"
                  />Tyre Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Tyre Size" class="form-label"
                    ><strong>Tyre Size</strong>
                  </label>
                  <div class="btn-group">
                    <select
                      name="tyre_type"
                      id="tyre_type"
                      onchange="filterapplication()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for tyre in inputdata['tyre_size_drop'] %}
                      <option value="{{tyre}}">{{tyre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Tyre Size" class="form-label"
                    ><strong>Application</strong>
                  </label>
                  <div class="btn-group" style="left: 5px">
                    <select
                      name="application_type"
                      id="application_type"
                      onchange="filterradius()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                      {% for tyre in tyre_size_drop %}
                      <option value="{{tyre}}">{{tyre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="Radius" class="form-label"
                    ><strong>Radius(mm)</strong>
                  </label>
                  <div class="btn-group" style="left: 2px">
                    <select
                      name="radius_type"
                      id="radius_type"
                      onchange="filterrrc()"
                      required="required"
                    >
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 mt-4">
                  <label for="RRC" class="form-label"
                    ><strong>RRC</strong>
                  </label>
                  <div class="btn-group" style="left: 60px">
                    <select name="rrc_type" id="rrc_type" required="required">
                      <option value="" selected disabled>Select</option>
                    </select>
                  </div>
                </div>
              <br></br>
              <div id="Tyre_details" style="display:none;" >
                <label><strong>Pattern:</strong></label>
                <input type="text" class="tyre_pattern" id="pattern" style="position:relative; left:25px; width:100px; border-radius: 0.25rem; top:0px; background-color:rgb(225, 245, 247)" readonly>
                <br></br>
                <label><strong>Standard:</strong></label>
                <input type="text" class="tyre_stand" id="std" style="position:relative; left:10px; top:5px; width:100px; border-radius: 0.25rem; background-color:rgb(225, 245, 247)" readonly>
                <br></br>
                <label><strong>Remark:</strong></label>
                <input type="text" class="tyre_remark" id="remark" style="position:relative; left:20px; top:5px; width:100px; border-radius: 0.25rem; background-color:rgb(225, 245, 247)" readonly>
              </div>
              
              </div>
            </div>
            <div
              class="card7 mt-2 col-lg-2 col-md-10 col-sm-12 col-xs-12"
              style="left: 24px"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='air_res.png')}}"
                    width="50"
                    height="50"
                  />Air Resistance Details
                </h5>
                <div class="mb-3 mt-4">
                  <label for="Air Resistance" class="form-label"
                    ><strong>Air Resistance</strong>
                  </label>
                  <div><strong>(N/(km/h)2)</strong></div>
                  <div class="btn-group" , style="left: 120px; top: -60px;">
                    <select name="air_resistance_type" id="air_resistance_type" required="required">
                      <option value="" selected disabled>Select</option>
                      {% for air in inputdata['air_drop'] %}
                      <option value="{{air}}">{{air}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="row">   
            <div
              class="card8 mt-3 col-lg-12 col-md-12 col-sm-12 col-xs-12"
              >
              <div class="card-body">
                <h5 class="card-title">
                  <img
                    src="{{url_for('static', filename='slope.png')}}"
                    width="50"
                    height="50"
                  />Slope for driving resistance
                </h5>
                  <div class="row">
                    <div class="col-1">
                      <label><input type="radio" name="colorRadio" value="default" style= "width:20px; height:20px;"><strong>Default</strong></label>
                    </div>
                    <div class="col-1">
                      <label><input type="radio" name="colorRadio" value="manual" style= "width:20px; height:20px;"><strong>Manual Entry</strong></label>
                    </div>
                    <div class="col-2">
                      <label><input type="radio" name="colorRadio" value="step" style= "width:20px; height:20px;"><strong>Steps</strong></label>
                    </div>
                  </div>
                  <div class = "col-12">
                    <div class="default box"><strong>Default Option will not modify the Driving Resistance Table</strong></div>
                  </div>
                  <div class = "col-12">
                    <div class ="row">
                      <div class = "col-3">
                        <div class="manual box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 1</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_1"
                              placeholder="Eg. 250"
                              name="driving_resistance_1"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 2</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_2"
                              placeholder="Eg. 250"
                              name="driving_resistance_2"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 3</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_3"
                              placeholder="Eg. 250"
                              name="driving_resistance_3"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 4</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_4"
                              placeholder="Eg. 250"
                              name="driving_resistance_4"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 5</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_5"
                              placeholder="Eg. 250"
                              name="driving_resistance_5"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 21</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_21"
                              placeholder="Eg. 250"
                              name="driving_resistance_21"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class = "col-3">
                        <div class="manual box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 6</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_6"
                              placeholder="Eg. 250"
                              name="driving_resistance_6"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 7</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_7"
                              placeholder="Eg. 250"
                              name="driving_resistance_7"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 8</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_8"
                              placeholder="Eg. 250"
                              name="driving_resistance_8"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 9</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_9"
                              placeholder="Eg. 250"
                              name="driving_resistance_9"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 10</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_10"
                              placeholder="Eg. 250"
                              name="driving_resistance_10"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 22</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_22"
                              placeholder="Eg. 250"
                              name="driving_resistance_22"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class = "col-3">
                        <div class="manual box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 11</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_11"
                              placeholder="Eg. 250"
                              name="driving_resistance_11"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 12</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_12"
                              placeholder="Eg. 250"
                              name="driving_resistance_12"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 13</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_13"
                              placeholder="Eg. 250"
                              name="driving_resistance_13"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 14</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_14"
                              placeholder="Eg. 250"
                              name="driving_resistance_14"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 15</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_15"
                              placeholder="Eg. 250"
                              name="driving_resistance_15"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class = "col-3">
                        <div class="manual box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 16</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_16"
                              placeholder="Eg. 250"
                              name="driving_resistance_16"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 17</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_17"
                              placeholder="Eg. 250"
                              name="driving_resistance_17"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 18</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_18"
                              placeholder="Eg. 250"
                              name="driving_resistance_18"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 19</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_19"
                              placeholder="Eg. 250"
                              name="driving_resistance_19"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                          <label for="Torque_cut" class="form-label"
                            ><strong>Driving Resistance 20</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="driving_resistance_20"
                              placeholder="Eg. 250"
                              name="driving_resistance_20"
                              width="5"
                              height="5"
                              style="
                              left: 165px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div> 
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class = "col-3">
                        <div class="step box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Starting value</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="starting_value"
                              placeholder="Eg. 250"
                              name="starting_value"
                              width="5"
                              height="5"
                              style="
                              left: 145px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class = "col-3">
                        <div class="step box" style="margin-top:30px;">
                          <label for="Torque_cut" class="form-label"
                            ><strong>Step Size</strong>
                          </label>
                          <input
                              type="number"
                              class="form-control"
                              id="step_size"
                              placeholder="Eg. 250"
                              name="step_size"
                              width="5"
                              height="5"
                              style="
                              left: 100px;
                              width: 150px;
                              position: relative;
                              top: -35px;"
                              autocomplete="off"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <label
            for="file_path"
            class="form-label"
            style="left: 400px; position: relative; top: 35px"
            ><strong>File Path</strong>
          </label>
          <input
            type="text"
            class="form-control"
            id="file_path"
            placeholder="Eg. C:\username\Desktop\folder_name"
            name="file_path"
            required="required"
            style="left: 500px; width: 700px; position: relative; top: 0px"
          />
          <button
            class="btn btn-success btn-li float-right"
            type="submit"
            id="submit-button"
            onclick="loading();"
            this.onclick = null;
            name="submit_button"
            style = "left:1300px"
          >
          Submit
          </button>
          <div id="loading"></div>
                    
        </form>
        
        <a href="{{url_for('display')}}">
          <button
          class="btn btn-success btn-li float-right"
          id="refresh"
          type="reset"
          style = "left:200px"
          >
            REFRESH
          </button>
        </a>
        <font color="green" align="center" style="left:1500px; position:relative; top: -75px;" ><strong>{{result_text}}</strong></font>
        <table id="table_display" class="styled-table">
          <thead>
              <tr>
                <th colspan=2></th>
                {% for ele in table_len %}
                   <th>{{ele}}</th>
                {%endfor%}
              </tr>
          </thead>
          <tbody>
              <tr>
                {% for row in table_data["row1"]%}
                  {%if row == "Max Velocity"%}
                    <td rowspan = "2">{{row}}</td>
                  {%else%}
                    <td>{{row}}</td>
                  {%endif%}
                {%endfor%}
              </tr>
              <tr>
                {% for row in table_data["row2"]%}
                   <td>{{row}}</td>
                {%endfor%}
              </tr>
              <tr>
                {% for row in table_data["row3"]%}
                  {%if row == "Climb ability"%}
                    <td rowspan = "2">{{row}}</td>
                  {%else%}
                    <td>{{row}}</td>
                  {%endif%}
                {%endfor%}
              </tr>
              <tr>
                {% for row in table_data["row4"]%}
                   <td>{{row}}</td>
                {%endfor%}
              </tr>
          </tbody>
        </table> 
      </div> 
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous">
  </script>
  <script>
    $("#Form2").submit(function(e)
                  {    
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          'engine':$("#engine_type").val(),
          'emission':$("#emission_type").val()
        },
        success:function (response) {
            var response = "graph.png";
            $("#graph_img").attr("src", "/static/" + response);
          },
        
      })
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
